<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <title>Register</title>
        <link rel="stylesheet" href="{% static 'Account/css/register.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>

    <body>
        <form action="{% url 'register' %}" method="POST" id="register-form">
            {% csrf_token %}
            
            <div id="left-container">
                <h1 id="form-title">Sign Up</h1>
                <div id="form-inputs">
                    
                    <div class="input-container">
                        <i class="material-icons input-icon">person</i>
                        {{form.username}}
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">mail</i>
                        {{form.email}}
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">lock</i>
                        {{form.password}}
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">lock</i>
                        <input type="password" name="password_check" placeholder="Password Again" required>
                    </div>
                   
                    <div id="error-container">
                        {% for field in form %}
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <div class="error">{{error}}</div>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <input type="checkbox" name="terms" id="terms">
                    <label for="terms">I agree Terms of service</label>
                </div>
                
                <button type="submit" id="submit">Sign Up</button>

            </div>

            <div id="right-container">
                <img src="{% static 'Account/img/signup-image.jpg' %}" alt="" id="photo">
                <a id="login" href="{% url 'login' %}">Already have an account</a>
            </div>

        </form>
    </body>

    <script src="{% static 'Account/js/register.js' %}"></script>

</html>




                    <!-- <div class="input-container">
                        <i class="material-icons input-icon">person</i>
                        <input type="text" name="username" placeholder="Username", required>
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">mail</i>
                        <input type="email" name="email" placeholder="Email", required>
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">lock</i>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="input-container">
                        <i class="material-icons input-icon">lock</i>
                        <input type="password" name="password_check" placeholder="Password Again" required>
                    </div> -->
 